# {{ ansible_managed }}

{% if grafana_auth_ldap_verbose_logging %}
verbose_logging = true
{% else %}
verbose_logging = false
{% endif %}

[[servers]]
host = "{{ grafana_auth_ldap_servers_host }}"
port = {{ grafana_auth_ldap_servers_port }}
{% if grafana_auth_ldap_servers_use_ssl %}
use_ssl = true
{% else %}
use_ssl = false
{% endif %}
{% if grafana_auth_ldap_servers_ssl_skip_verify %}
ssl_skip_verify = true
{% else %}
ssl_skip_verify = false
{% endif %}
{% if grafana_auth_ldap_servers_root_ca_cert %}
root_ca_cert = {{ grafana_auth_ldap_servers_root_ca_cert }}
{% endif %}
bind_dn = "{{ grafana_auth_ldap_servers_bind_dn }}"
bind_password = '{{ grafana_auth_ldap_servers_bind_password }}'
search_filter = "{{ grafana_auth_ldap_servers_search_filter }}"
{% if grafana_auth_ldap_servers_search_base_dns %}
search_base_dns = [
{% for base_dns in grafana_auth_ldap_servers_search_base_dns %}
{% if not loop.last %}
  "{{ base_dns }}",
{% else %}
  "{{ base_dns }}"
{% endif %}
{% endfor %}
]
{% endif %}
{% if grafana_auth_ldap_servers_group_search_filter %}
group_search_filter = "{{ grafana_auth_ldap_servers_group_search_filter }}"
{% endif %}
{% if grafana_auth_ldap_servers_group_search_base_dns %}
group_search_base_dns = [
{% for base_dns in grafana_auth_ldap_servers_group_search_base_dns %}
{% if not loop.last %}
  "{{ base_dns }}",
{% else %}
  "{{ base_dns }}"
{% endif %}
{% endfor %}
]
{% endif %}

[servers.attributes]
name = "{{ grafana_auth_ldap_servers_attributes_name }}"
surname = "{{ grafana_auth_ldap_servers_attributes_surname }}"
username = "{{ grafana_auth_ldap_servers_attributes_username }}"
member_of = "{{ grafana_auth_ldap_servers_attributes_member_of }}"
email =  "{{ grafana_auth_ldap_servers_attributes_email }}"

{% for group_mappings in grafana_auth_ldap_servers_group_mappings %}
[[servers.group_mappings]]
group_dn = "{{ group_mappings.group_dn }}"
org_role = "{{ group_mappings.org_role }}"
{% if group_mappings.org_id is defined %}
org_id = {{ groups_mappings.org_id }}
{% endif %}

{% endfor %}
